<section class="box">
    <h4>Mi carrito</h4>
    <p>No hay productos agregados</p>
    <div class="box_total">
        <em>TOTAL:</em>
        <em>{{total | currency}}</em>
    </div>
    <button>Iniciar Compra</button>
</section>